.selectContractButton {
    display: flex;
    justify-content: center;


}

.dropdownDataContainer {
    background-color: lightgrey;
}

.dropdownDataContainer > ul > li {

cursor: pointer
}


.dropdownDataContainer > ul > li :hover {
    background-color: red;
    color: white;
}